<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete | TrikeIt</title>
    {% load static %}
    <!-- Favicon links -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/forget_password.css' %}">
</head>
<body>
<div class="center">
    <h2>Password reset complete</h2>
    <p>Your password has been set. You can now <a href="{% url 'login_view' %}">log in</a> with the new password.</p>
    <div class="form-buttons">
        <a href="{% url 'login_view' %}" class="btn">Return to Login</a>
    </div>
</div>
</body>
</html>
